/* styles.css */
/* ======= Base ======= */
body {
  font-family: 'Roboto', sans-serif;
  background: #f5f5f5;
  font-size: 14px;
  padding: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
a {
  color: #2d7788;
}
a:hover {
  text-decoration: underline;
  color: #1a454f;
}
a:focus {
  text-decoration: none;
}
p {
  line-height: 1.5;
}
.wrapper {
  max-width: 980px;
  margin: 0 auto;
  position: relative;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/*  header wraper  */

.header-wrapper {
  background: #c5d5cb;
  margin: 0 auto;
  max-width: 980px;
  padding-top: 80px;
  color: #fff;
}
.header-wrapper a {
  color: #fff;
}
.header-wrapper .profile-container {
  padding: 30px;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #fff;
}
.header-wrapper .name {
  font-size: 32px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 10px;
  display: inline-block;
}
.header-wrapper .tagline {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

.header-wrapper .contact-list .fa {
  margin-right: 5px;
  font-size: 18px;
  vertical-align: middle;
}
.header-wrapper .contact-list li {
  margin-bottom: 10px;
    text-align: center;

}
.header-wrapper .contact-list li:last-child {
  margin-bottom: 0;
}
.header-wrapper .contact-list .email .fa {
  font-size: 14px;
}
.header-wrapper .container-block {
  padding: 30px;
}
.header-wrapper .container-block-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 15px;
}


/*  main wraper  */

.main-wrapper {
  background: #fff;
  padding: 120px;
  padding-top: 90px;
}
.main-wrapper .section-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  color: #666d69;
    /* #2d7788 */
  position: relative;
  margin-top: 0;
  margin-bottom: 20px;
}

.main-wrapper .section-title .fa {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  display: inline-block;
  color: #fff;
  border-radius: 50%;
  background-clip: padding-box;
  background: #666d69;
  text-align: center;
  padding-top: 8px;
  font-size: 16px;
  position: relative;
  top: -2px;
}

.main-wrapper .section {
  margin-bottom: 50px;
}

.main-wrapper .education-section .item {
  margin-bottom: 30px;
}

.degree {
  background-color: white;
}

.main-wrapper .degree {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}
.main-wrapper .school-name {
  margin-bottom: 10px;
  color: #97AAC3;
}

.main-wrapper .experiences-section .item {
  margin-bottom: 30px;
}
.main-wrapper .job-title {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}
.main-wrapper .company {
  margin-bottom: 10px;
  color: #97AAC3;
}
.main-wrapper .upper-row {
  position: relative;
  overflow: hidden;
  margin-bottom: 2px;
}

.main-wrapper .time {
  position: static;
  margin-top: 2px;
  color: #97AAC3;
}

.main-wrapper .skillset .item {
  margin-bottom: 15px;
}
.main-wrapper .skillset .skill-title {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 12px;
}

.main-wrapper .project-title {
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 5px;
}
.main-wrapper .projects-section .intro {
  margin-bottom: 30px;
}
.main-wrapper .projects-section .item {
  margin-bottom: 15px;
}

.skills{
    font-weight: 400;
}

.resume_download {
    color: #666d69; 
    padding-left: 10px;
}

.resume_download:hover {
    color: #fff; 
}

/*   tabs experiences   */

#tabs { 
  background: transparent; 
  border: none;
  padding-bottom: 0px;
  font-size: 14px;
}  

#tabs .ui-widget-header { 
  background: transparent; 
  border: none; 
  border-bottom: 1px solid #c0c0c0; 
  border-radius: 0px; 
} 
#tabs .ui-tabs-nav .ui-state-default { 
  background: transparent; 
  border: none; 
} 
#tabs .ui-tabs-nav .ui-state-active { 
  background: transparent no-repeat bottom center; 
  border: none; 
} 
#tabs .ui-tabs-nav .ui-state-default a { 
  color: #c0c0c0; 
} 
#tabs .ui-tabs-nav .ui-state-active a { 
  color: #2d7788;
}

#tabs .ui-tabs-body { 
  color: #2d7788;
}



/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .main-wrapper {
    padding: 15px;
    padding-top: 50px;
  }

  .main-wrapper .upper-row {
    margin-bottom: 0;
  }
}
